<template name="initiativeCreate">
  <div class="initiative-create row">
    <div class="col s12 m6 offset-m3">  
        <form class="form-create">
        <h2 class="center">Begin Your Initiative</h2>
        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="validate">
          <label for="name">Enter a name for your Initiative.</label>
        </div>
        <div class="input-field col s12">
          <input id="summary" name="summary" type="text" class="validate">
          <label for="summary">Enter a summary for your Initiative.</label>
        </div>
        <div class="input-field col s12 center select-type">
         <select name="" id="category_select">
          <option value="">Select Type</option>
          <option value="Open Source">Open Source</option>
          <option value="Non Profit">Non Profit</option>
          <option value="Event">Event</option>
          <option value="Charity">Charity</option>
        </select>
        </div>

        <div class="col s12 center">
          <button class="btn waves-effect waves-light blue darken-1" type="submit">Create Your Initiative</button>
        </div>
      </form>
    </div>
  </div>
</template>