<template name="initiativeCreate">
  <div class="initiative-create row">
    <div class="col s6 offset-s3">
      {{#unless overLimit}}
        <form class="form-create">
        <h2 class="center">Begin Your Initiative</h2>
        <div class="input-field col s12">
          <input id="name" name="name" type="text" class="validate">
          <label for="name">Enter a name for your Initiative.</label>
        </div>
        <div class="input-field col s12">
          <input id="description" name="description" type="text" class="validate">
          <label for="description">Enter a description for your Initiative.</label>
        </div>
        <div class="input-field col s12 center checkboxes">
          <span class="checkbox">
            <input type="checkbox" id="event" value="Event"/>
            <label for="event">Event</label>
          </span>
          <span class="checkbox">
            <input type="checkbox" id="charity" value="Charity"/>
            <label for="charity">Charity</label>
          </span>
          <span class="checkbox">
            <input type="checkbox" id="nonprofit" value="Non Profit"/>
            <label for="nonprofit">Non Profit</label>
          </span>
          <span class="checkbox">
            <input type="checkbox" id="opensource" value="Open Source"/>
            <label for="opensource">Open Source</label>
          </span>
        </div>
        <div class="col s12 center">
          <button class="btn waves-effect waves-light blue darken-1" type="submit">Create Your Initiative</button>
        </div>
      </form>
      {{else}}
      <h3>You have too many active initiatives, remove or deactivate some to create new.</h3>
      <a href="{{pathFor 'initiatives.mine'}}">My Initiatives</a>
      {{/unless}}
    </div>
  </div>
</template>