<template name="search">
  <div class="search">
    <form action="search" id="initiative_search_form" class="row">
      <div class="row">
        <div class="input-field col s12">
          <input id="search_initiatives" type="text" class="validate">
          {{#if isSearching}}
            <span class="btn-small btn-floating close-button"><i class="mdi-content-clear"></i></span>
          {{/if}}
          <label for="search_initiatives">
            <i class="material-icons">search</i> Start exploring ...
          </label>
        </div>
      </div>
    </form>
  </div>
</template>