<template name='initiativeShow'>
  {{#with initiative}}
  <div class="initiative col s12 m12">
    <div class="card small">
      <div class="card-image">
        <img src="{{getInitiativeImage}}">
      </div>
      <div class="initiative--content">
        <div class="votes">
          <i class="mdi-action-favorite{{#if canVote}}-outline{{/if}}"></i> {{votes}}
        </div>
        <div class="comments-count">
          <i class="mdi-editor-mode-comment"></i> {{zeroIfEmptyOrNotExists comments}}
        </div>
        <a href="#" class="initiative--user-image">
          <img src="{{getInitiativeAuthorImage}}" alt="" class="circle responsive-img user-photo">
        </a>
        <h2 class="card-title">{{title}}</h2>
        <p>
          {{description}}
        </p>
      </div>
    </div>
    <div class="comments-container">
      <ul class="collection">
      {{#each comments}}
        <li class="collection-item avatar valign-wrapper">
          <img src="{{getInitiativeAuthorImage}}" alt="" class="circle responsive-img user-photo">
          <p class="valign">{{message}}</p>
        </li>
      {{/each}}
      </ul>
    </div>
  </div>
  {{/with}}
</template>