<template name='initiativeShow'>
 <div class="initiative-page--show">
  {{#with initiative}}
  <div class="col s12 m6 l4">
    <div class="content">
      <a href="#" class="user-image">
        <img src="{{getInitiativeAuthorImage}}" alt="" class="circle responsive-img user-photo">
        <span class="user-name">
          {{creator}}
        </span>
      </a>
      <div class="initiative-description">
        <h3><i class="material-icons small">beenhere</i> The Story</h3>
        <p >
          {{description}}
          <!-- TODO: This will become a more elaborate section soon -->
        </p>
      </div>
      <div class="initiative-comments">
        {{#if currentUser}}
        {{> initiativeCommenter}}
        {{else}}
        <span class="not-logged-in">You must be logged in to comment.</span>
        {{/if}}
        {{> initiativeComments}}
      </div>
    </div>
  </div>


  {{/with}}
</div>
</template>

<template name="initiativeCommenter">
  <div class="commenter-container row initiative-commenter">
    <form class="col s12 commenter-form">
      <div class="input-field col s12">
        <input id="comment" type="text" name="comment" required>
        <label for="comment">Say something about {{title}}</label>
        <button class="btn waves-effect waves-light" type="submit">Comment</button>
      </div>
    </form>
  </div>
</template>

<template name="initiativeComments">
  <div class="comments-container initiative-comments">
    <ul class="collection">
      {{#each comments}}
      <li class="collection-item avatar">
        <img src="{{getCommentAuthorImage}}" alt="avatar" class="circle responsive-img user-photo">
        <p class="comment-details"><strong>{{getCommentAuthorName}}</strong> <time class="comment-time right"><i class="tiny material-icons">query_builder</i>{{getPrettyDate createdAt}}</time></p>
        <p class="comment-message left">{{message}}</p>
      </li>
      {{/each}}
    </ul>
  </div>
</template>