<template name='initiativeShow'>
  {{#with initiative}}
    {{> initiativeCard}}

    {{#if currentUser}}
      {{> initiativeCommenter}}
    {{else}}
      <span class="not-logged-in">You must be logged in to comment.</span>
    {{/if}}
    {{> initiativeComments}}
  {{/with}}
</template>

<template name="initiativeCommenter">
  <div class="commenter-container row">
    <form class="col s12 commenter-form">
      <div class="input-field col s12">
        <input id="comment" type="text" name="comment" required>
        <label for="comment">Say something about {{title}}</label>
        <button class="btn waves-effect waves-light" type="submit">Comment</button>
      </div>
    </form>
  </div>
</template>

<template name="initiativeComments">
  <div class="comments-container">
    <ul class="collection">
      {{#each comments}}
        <li class="collection-item avatar">
          <img src="{{getCommentAuthorImage}}" alt="avatar" class="circle responsive-img user-photo">
          <p class="comment-message left">{{message}}</p>
          <span class="comment-time right">{{getPrettyDate createdAt}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</template>