<template name='initiative'>
  <div class="initiative col s12 m4">
    <div class="card small">
      <div class="card-image">
        <a href="#">
          <img src="{{image}}">
        </a>
      </div>
      <div class="initiative--content">
        <div class="votes">
          <i class="mdi-action-favorite "></i> {{votes}}
        </div>
        <a href="#" class="initiative--user-image">
          <img src="{{userImage}}" alt="" class="circle responsive-img user-photo">
        </a>
        <a href="#">
          <h2 class="card-title">{{title}}</h2>
        </a>
        <p>
          {{description}}
        </p>
      </div>
    </div>
  </div>
</template>