body.home, body.show-initiative
  nav
    background: transparent
    z-index: 999
    position: relative
    box-shadow: none
    
nav
  z-index: 1
  .nav-wrapper
    .button-collapse
      margin-left: 10px
    .brand-logo
      background-image: url('images/cherish-logo.png')
      background-size: 30px
      background-repeat: no-repeat
      background-position: left center
      color: #fff
      font-size: 25px
      padding-left: 2.5rem
    .right
      .user-dropdown
        i
          display: inline-block
          font-size: 100%
          color: $primary-color 
          position: relative
          top: 2px
      .user-profile
        a.dropdown-button
          img
            margin-right: 10px
            position: relative
            top: 10px
        

  
