<template name="sidenav">
  <ul id="cherish-mobile-nav" class="side-nav">
    <li class="logo-wrapper">
      <a class="brand-logo" href="{{pathFor 'initiatives'}}">Cherish</a>
    </li>
    <!-- Removing this for now, as it serves no purpose -->
    <!--<li><a href="{{pathFor 'about'}}">About</a></li>-->
    {{#if currentUser }}
      <li><a href="{{pathFor 'profile'}}"><i class="material-icons tiny">account_circle</i> My Profile</a></li>
      {{#if currentUser.hasInitiative}}
      <li><a href="{{pathFor 'initiative.mine'}}"><i class="material-icons tiny">favorite</i> My Initiative</a></li>
      {{else}}
      <li><a href="{{pathFor 'initiative.create'}}"><i class="material-icons tiny">favorite</i> Start Initiative</a></li>
      {{/if}}
      <li class="divider"></li>
      <li>
        <a class="notifications-button--action open-notifications" href="#notifications_modal">
          <i class="material-icons tiny">{{#unless hasNotifications}}notifications_none{{else}}notifications{{/unless}}</i>{{#if hasNotifications}}<span class="notifications-button--action__badge">{{getNotificationsCount}}</span>{{/if}} <span>My Notifications</span>
        </a>
      </li>
      <li class="divider"></li>
      <li><a class="logout" href="#">Sign out</a></li>

    {{else}}
      <li><a href="{{pathFor 'login'}}">Sign in</a></li>
      <li><a href="{{pathFor 'signup'}}">Register</a></li>
    {{/if}}
  </ul>
</template>