<template name="nav">
  <nav> 
    <div class="nav-wrapper">
      <a href="{{pathFor 'initiatives'}}" class="brand-logo center hide-on-small-only">Cherish</a>
      <a href="#" data-activates="cherish-mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {{#if currentUser}}
        {{> notificationsButton}}
        {{> userDropdown}}
        {{else}}
        <li><a href="{{pathFor 'login'}}">Sign in</a></li>
        <li><a href="{{pathFor 'signup'}}">Register</a></li>
        {{/if}}
      </ul>
      {{> sidenav}}
    </div>
  </nav>
</template>