<template name="nav">
  <nav> 
    <div class="nav-wrapper">
      <a href="{{pathFor 'initiatives'}}" class="brand-logo center hide-on-small-only">Cherish</a>
      <a href="#" data-activates="cherish-mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        {{#if currentUser}}
          {{> notificationsButton}}
          {{> userDropdown}}
        {{else}}
          <li><a href="{{pathFor 'login'}}">Sign in</a></li>
          <li><a href="{{pathFor 'signup'}}">Register</a></li>
        {{/if}}
      </ul>
      {{> sidenav}}
    </div>
  </nav>
</template>

<template name="sidenav">
  <ul id="cherish-mobile-nav" class="side-nav">
    <li class="logo-wrapper">
      <a class="brand-logo" href="{{pathFor 'initiatives'}}">Cherish</a>
    </li>
    <!-- Removing this for now, as it serves no purpose -->
    <!--<li><a href="{{pathFor 'about'}}">About</a></li>-->
    {{#if currentUser }}
      <li><a href="{{pathFor 'profile'}}">My Profile</a></li>
      <li><a class="logout" href="#">Sign out</a></li>
      <li>
    <a class="notifications-button--action open-notifications" href="#notifications_modal">
      <i class="material-icons tiny">{{#unless hasNotifications}}notifications_none{{else}}notifications{{/unless}}</i>{{#if hasNotifications}}<span class="notifications-button--action__badge">{{getNotificationsCount}}</span>{{/if}} <span>My Notifications</span>
    </a>
  </li>
    {{else}}
      <li><a href="{{pathFor 'login'}}">Sign in</a></li>
      <li><a href="{{pathFor 'signup'}}">Register</a></li>
    {{/if}}
  </ul>
</template>

<template name="userDropdown">
<ul id="profile-dropdown" class="dropdown-content user-dropdown">
    <li><a href="{{pathFor 'profile'}}"><i class="material-icons tiny">account_circle</i> My profile</a></li>
    <li><a href="{{pathFor 'initiatives.mine'}}"><i class="material-icons tiny">favorite</i> My Initiatives</a></li>
    <li class="divider"></li>
    <li><a class="logout" href="#"><i class="material-icons tiny">lock_open</i> Sign out</a></li>
  </ul>
  <li class="user-profile">
    <a class="dropdown-button" href="#" data-activates="profile-dropdown">
      <img src="{{avatar}}" class="circle responsive-img" alt="" width="30" height="30">
      <span class="user-profile--name">
        {{currentUser.profile.name}}
      </span><i class="material-icons right">arrow_drop_down</i></a>
    </li>
  </template>