.initiative-mine
  .initiative-meta
    background: darken($main-body-color, 1%)
    padding: 1em
    border-radius: 1em
  .badge-count
    background-color: #333
    border-radius: 50%
    width: 40px
    height: 40px
    font-size: 30px
    display: inline-block
    line-height: 40px
    color: #fff
    text-align: center
    position: absolute
    margin-left: 10px
  &--comments
    padding-top: 1em