<template name="publicSignup">  
  <div class="row">
    <form class="col s6 offset-s3 signup-form">
      <h2>Register for Cherish</h2>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate email-address-input">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate password-input">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light" type="submit" name="action">Sign up</button>
        </div>
      </div>
    </form>
  </div>
</template>