<template name="profileShow">
  <div class="profile-show row">
    {{#if currentUser}}
      <div class="col s6">
        <h4>You've voted on:</h4>
        <ul>
          {{#each votedInitiatives}}
            <li>
              <a href="{{pathFor 'initiative' slug}}">{{title}}</a>
            </li>
            {{else}}
            <li>
              <p>Nothing here... <a href="{{pathFor 'initiatives'}}">Go vote!</a></p>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="col s6">
        <h4>You've commented on:</h4>
        <ul>
          {{#each commentedInitiatives}}
            <li>
              <a href="{{pathFor 'initiative' slug}}">{{title}}</a>
            </li>
            {{else}}
            <li>
              <p>Nothing here... <a href="{{pathFor 'initiatives'}}">Start commenting!</a></p>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
</template>

<template name="initiativesMine">
  <h2>My Initiatives</h2>
  <div class="initiatives-grid row">
    {{#each initiatives}}
        {{> initiativeCard}}
      {{/each}}
  </div>
  <div class="initiative-mine row center-align">
      <a class="button btn" href="{{pathFor 'initiatives.create'}}">New Initiative</a>
  </div>
</template>