<template name="profileNotifications">

   <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn open-notifications" href="#notifications_modal">Modal</a>

  <!-- Modal Structure -->
  <div id="notifications_modal" class="modal bottom-sheet  modal-fixed-footer">
    <div class="modal-content">
      <h4>Notifications</h4>
      {{> allNotifications}}
    </div>
    <div class="modal-footer">
      <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>


  <div class="profile-notifications">
  
  </div>
</template>

<template name="allNotifications">
  <ul class="collection notifications">
      {{#each notifications}}
      <li class="collection-item notification avatar {{getReadClass}}">
        <div class="notification-content">
          <img src="{{avatar}}" class="circle responsive-img" alt="" width="40" height="40">
          <span class="title">
            <b>{{users}}{{othersText}}</b> {{text}} <a href="{{pathFor 'initiative' slug=getInitiativeSlug}}">{{getInitiativeTitle}}</a>
          </span>
          <span class="notification-content--date"><i class="material-icons tiny">{{getNotificationsIcon}}</i> {{getPrettyDate createdAt}}</span>
        </div>
        <a href="#" class="{{getReadClass}} secondary-content">
          <i class="material-icons">{{#unless isRead}}star{{else}}star_border{{/unless}}</i>
        </a>
      </li>
      {{/each}}
    </ul>
</template>