<template name="initiativesHeader">
  <div class="initiatives--header">
    <div class="container">
      <h2>Vote what you stand for</h2>
      <div class="form-container">
        <div class="container">
          <form action="search" id="initiative_search_form" class="row">
            <div class="row">
              <div class="input-field col s12">
                <input id="search_initiatives" type="text" class="validate">
                <label for="search_initiatives">
                  <i class="mdi-action-search"></i> Find inititatives
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>