// Note: Not responsive, only works in large and mobile

$initiative-card: "initiative-card"

.#{$initiative-card}
  p
    padding: 0
    margin: 0
  &--user-image
    display: inline-block
    position: relative
    float: right
    top: -30px
    right: 0
  
  &--content
    padding: 0 1em
    .card-title
      color: #333
      margin: 0
    .votes
      color: #FFF
      cursor: pointer
      position: absolute
      top: 1em
