.initiatives--header
  background: url(https://placeimg.com/1300/400/arch) top left no-repeat
  background-size: cover
  width: 100%
  position: absolute
  height: 300px
  top: 64px
  left: 0
  right: 0
  height: 300px
  h2
    color: #FFF 
    text-align: center 
    text-transform: uppercase 
    
  form
    max-width: 40%
    margin: 0 auto
    height: 40%
     
