<template name="initiativeHeader">
  {{#with initiative}}
  <div class="initiative-header valign-wrapper" style="background-image: url({{getInitiativeImage}})">
    <div class="container initiative-header--content">
      <h2 class="center-align valign">{{title}}</h2>
      <div class="initiative-header--content__meta">
        <div class="comments-count">
          <i class="material-icons small">comment</i>
          <span class="comments-number">{{zeroIfEmptyOrNotExists comments}}</span>
        </div>
        <div class="votes-count">
          {{{voteIcon 'small'}}}
          <span class="votes-number">{{votes}}</span>
        </div>
        {{#if currentUser}}
        {{#unless isMine}}
        <div class="follow-button">
          <button class="{{getFollowClass}}">{{#if canFollow}}Follow{{else}}Unfollow{{/if}}</button>
        </div>
        {{/unless}}
        {{/if}}
        <div class="social-share-buttons">
          
          <a target="_blank" class="twitter-share-button" href="https://twitter.com/share?url={{getCurrentUrl}}&amp;text={{title}}"><i class="material-icons tiny">reply</i> Twitter</a>

          <a target="_blank" class="facebook-share-button" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]={{getCurrentUrl}}&amp;p[images]=http://cherish.meteor.com/images/placeholder-initiative.jpg&amp;p[title]={{title}}&amp;p[summary]={{description}}"><i class="material-icons tiny">reply</i> Facebook</a>

          <a target="_blank" class="google-share-button" href="https://plus.google.com/share?url={{getCurrentUrl}}"><i class="material-icons tiny">reply</i> Google+</a>

          <a target="_blank" class="pinterest-share-button" href="https://pinterest.com/pin/create/bookmarklet/?media=http://cherish.meteor.com/images/placeholder-initiative.jpg&amp;url={{getCurrentUrl}}&amp;description={{description}}"><i class="material-icons tiny">reply</i> Pinterest</a>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</template>