<template name="initiativeEditFull">
  <div class="initiative-edit-full">    
    {{#with initiative}}
      <div class="initiative-edit">
        <h3 class="edit-title grey-text text-darken-4">Edit initiative</h3>
        <form class="form-edit">
          <div class="input-field col s12">
            <input id="title" name="title" type="text" class="validate" placeholder="{{title}}" value="{{title}}">
            <label for="name" class="active">Initiative Title</label>
          </div>
          <div class="input-field col s12">
            <textarea id="summary" name="summary" type="text" class="validate valid materialize-textarea">{{summary}}</textarea>
            <label for="summary" class="active">Enter a summary for your Initiative.</label>
          </div>
          <div class="input-field col s12 center select-type">
           <select name="category" class="browser-default" id="category_select">
            {{#each getCategories}}
              <option {{getSelected . ../category}} value="{{.}}">{{.}}</option>
            {{/each}}
          </select>
          <label for="category" class="active">Select a category</label>
        </div>
        <div class="col s12 center">
          <button class="btn waves-effect waves-light save" type="submit">Save Initiative</button>
        </div>
      </form>
    </div>
  {{/with}}
</div>
</template>