// Note: Not responsive, only works in large and mobile

$initiativeCard: "initiative-card";

.#{$initiativeCard}{
  p {
    padding: 0;
    margin: 0;
  }
  .card {
    transition: box-shadow 0.2s;
  }
  .card:hover {
    box-shadow: 0 0 1px 2px #FFF;
  }
  .card-title:hover {
    // text-decoration: underline
  }
  &--user-image {
    display: inline-block;
    position: relative;
    float: right;
    top: -30px;
    right: 0;
  }
  &--content {
    padding: 0 1em;
    .card-title {
      color: #333;
      margin: 0;
      }
  }
  .card-reveal {
      transition: transform .3s ease, opacity .3s ease;
      display: block;
      opacity: 0;
      transform: translateY(0%);
    &.open {
      opacity: 1;
      transform: translateY(-100%);
    }
  }
}