<template name="initiativeCard">
  <a href="{{pathFor 'initiative'}}" class="initiative col s12 m4">
    <div class="card small">
      <div class="card-image">
        <img src="{{getInitiativeImage}}">
      </div>
      <div class="initiative--content">
        <div class="votes">
          <i class="mdi-action-favorite"></i> {{votes}}
        </div>
        <a href="#" class="initiative--user-image">
          <img src="{{getInitiativeAuthorImage}}" alt="" class="circle responsive-img user-photo">
        </a>
        <h2 class="card-title">{{title}}</h2>
        <p>
          {{description}}
        </p>
      </div>
    </div>
  </a>
</template>