<template name="initiativeCard">
  <div class="initiative initiative-card col s12 m6 l4">
    <div class="card small">
      <div class="card-image">
        <a href="{{pathFor 'initiative'}}"><img src="{{getInitiativeImage}}"></a>
      </div>
      <div class="initiative-card--content">
      <span class="badge {{getInitiativeCategoryClass}}">{{getInitiativeCategory}}</span>
        <div class="votes">
          {{{voteIcon}}} {{votes}}
        </div>
        <div class="comments-count">
          <i class="mdi-editor-mode-comment"></i> {{zeroIfEmptyOrNotExists comments}}
        </div>
        <a href="#" class="initiative-card--user-image">
          <img src="{{getInitiativeAuthorImage}}" alt="" class="circle responsive-img user-photo">
        </a>
        <h2 class="card-title truncate"><a href="{{pathFor 'initiative'}}">{{title}}</a></h2>
        <p>
          {{description}}
        </p>
      </div>
    </div>
  </div>
</template>