<template name="notificationsDropdown">
  <li class="notifications">
    <ul id="notifications-dropdown" class="dropdown-content">
    {{#each notifications}}
      <li class="notification {{getReadClass}}">
        <div class="notification-content">
          <span class="notification-content--avatar"><img src="{{avatar}}" class="circle responsive-img" alt="" width="40" height="40"></span>
          <div class="notification-content--body">
            <b>{{users}}{{othersText}}</b> {{text}} <a href="{{pathFor 'initiative' slug=getInitiativeSlug}}">{{getInitiativeTitle}}</a>
            <span class="notification-content--date"><i class="material-icons tiny">{{getNotificationsIcon}}</i> {{getPrettyDate createdAt}}</span>
          </div>
        </div>
      </li>
    {{else}}
      <li><a href="#"><em>No notifications</em></a></li>
    {{/each}}
    {{#if hasNotifications}}<li class="view-all"><a href="{{pathFor 'profile.notifications'}}">View all <i class="material-icons tiny">arrow_forward</i></a></li>{{/if}}
    </ul>
    <a class="dropdown-button" href="#" data-activates="notifications-dropdown">
      <i class="material-icons tiny center">notifications{{#unless hasNotifications}}_none{{/unless}}</i>
      {{#if hasNotifications}}<span class="dropdown-button--badge">{{getNotificationsCount}}</span>{{/if}}
    </a>
  </li>
</template>