#logo-container 
  height: 60px
  border-bottom: 2px solid #1e88e5

#logo
  font-size: 25px
  color: #fff  
  background-image: url('images/cherish-logo.png')
  background-size: 30px
  background-repeat: no-repeat
  background-position: left center 
  padding-left: 2.5rem 
  display: block;
  width: 200px;

nav 
  background-color: transparent
  .side-nav
    li:first-child
      background-color: #1e88e5
    li:hover, li.active
      background-color: #1e88e5
      color: #FFF