<template name="nav">
  <nav>
    {{> sidenav}}
    <div class="nav-wrapper">
      <ul class="left">
        <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a></li>
      </ul>
      <ul class="right">
        {{#if currentUser}}
          {{> notificationsDropdown}}
          {{> userDropdown}}
        {{/if}}
      </ul>
    </div>
  </nav>
</template>

<template name="sidenav">
  <ul id="slide-out" class="side-nav">
    <li id="logo-container">
      <a id="logo" href="{{pathFor 'initiatives'}}">Cherish</a>
    </li>
    <!-- Removing this for now, as it serves no purpose -->
    <!--<li><a href="{{pathFor 'about'}}">About</a></li>-->
    {{#if currentUser }}
      <li><a href="{{pathFor 'profile'}}">My Profile</a></li>
      <li><a class="logout" href="#">Sign out</a></li>
    {{else}}
      <li><a href="{{pathFor 'login'}}">Sign in</a></li>
      <li><a href="{{pathFor 'signup'}}">Register</a></li>
    {{/if}}
  </ul>
</template>

<template name="userDropdown">
  <li class="user-profile">
    <ul id="profile-dropdown" class="dropdown-content">
      <li><a href="{{pathFor 'profile'}}"><i class="material-icons tiny">account_circle</i> My profile</a></li>
      <li><a href="{{pathFor 'initiatives.mine'}}"><i class="material-icons tiny">favorite</i> My Initiatives</a></li>
      <li class="divider"></li>
      <li><a class="logout" href="#"><i class="material-icons tiny">lock_open</i> Sign out</a></li>
    </ul>
    <a class="dropdown-button" href="#!" data-activates="profile-dropdown">
      <img src="{{avatar}}" class="circle responsive-img" alt="" width="30" height="30">
      {{currentUser.profile.name}}
      <i class="material-icons tiny right">arrow_drop_down</i>
    </a>
  </li>
</template>

<template name="notificationsDropdown">
  <li class="notifications">
    <ul id="notifications-dropdown" class="dropdown-content">
    {{#each notifications}}
      <li class="notification {{getReadClass}}">
        <div class="notification-content">
        <span class="notification-content--avatar"><img src="{{getAvatar userId}}" class="circle responsive-img" alt="" width="40" height="40"></span>
          <div class="notification-content--body">
            <b>{{getUserWhoTriggeredNotification userId}}</b> {{getNotificationsContent}}<a href="{{pathFor 'initiative' slug=getInitiativeSlug}}">{{getInitiativeTitle}}</a>
            <span class="notification-content--date"><i class="material-icons tiny">{{getNotificationsIcon}}</i> {{getPrettyDate createdAt}}</span>
          </div>
        </div>
      </li>
    {{else}}
      <li><a href="#"><em>No notifications</em></a></li>
    {{/each}} 
    {{#if hasNotifications}}<li><a href="{{pathFor 'profile.notifications'}}">View all</a></li>{{/if}}
    </ul>
    <a class="dropdown-button" href="#" data-activates="notifications-dropdown">     
      <i class="material-icons tiny center">notifications{{#unless hasNotifications}}_none{{/unless}}</i>
      {{#if hasNotifications}}<span class="dropdown-button--badge">{{getNotificationsCount}}</span>{{/if}}
    </a>
  </li>
</template>