body:not(.home)
  nav
    background: transparent

#logo-container
  height: 56px
  border-bottom: 2px solid darken($primary-color, 20%)
  @media only screen and (min-width: 601px)
    height: 64px

#logo
  font-size: 25px
  color: #fff
  background-image: url('images/cherish-logo.png')
  background-size: 30px
  background-repeat: no-repeat
  background-position: left center
  padding-left: 2.5rem
  display: block
  width: 200px

nav
  background-color: transparent
  .nav-wrapper
    z-index: 1
  .side-nav
    li:first-child
      background-color: $primary-color
    li:hover, li.active
      background-color: $primary-color
      a
        color: #FFF
  .user-profile
    img
      margin-right: 10px
      position: relative
      top: 10px


.notifications
  $notification-color: #1e88e5
  $notification-text-color: #333
  $unread-bg-color: lighten($notification-color, 40%)
  $unread-border-color: darken($unread-bg-color, 10%)
  
  $read-bg-color: #fff
  $read-border-color: darken($read-bg-color, 20%)
  $badge-bg-color: 
  
  padding: 0 
  .dropdown-button
    font-size: 100%  
    i
      font-size: 120%
      float: left 
      position: relative
      top: 2px
    &--badge
      background: darken($primary-color, 30%)
      position: relative
      display: inline-block
      height: 20px
      width: 20px
      border-radius: 100%
      line-height: 20px
      text-align: center
      left: -9px
      top: -7px
      font-size: 80%
  ul.dropdown-content
    min-width: 400px
    max-height: 350px 
    overflow-y: scroll 
  .notification
    $notification-content: 'notification-content'
    border-bottom: 1px solid lighten(#333, 50%)
    line-height: 1.5rem !important 
  
    .#{$notification-content}
      padding: 1em 
      p
        margin: 0
        i
          display: inline
          font-size: 100%  
        a
          color: $notification-color 
          display: inline
          padding: 0
    .#{$notification-content}--avatar
      display: block
      float: left
      margin-right: .5em
    .#{$notification-content}--body
      display: block
      
      a
        color: $notification-color
        display: inline  
        padding: 0
    .#{$notification-content}--date
        display: block
        color: lighten($notification-text-color, 40%)
        i
          display: inline
          font-size: 100% 
          height: auto
          line-height: 1 
    &.read
      background: $read-bg-color 
      border-bottom: 1px solid $read-border-color 
      &:hover
        background: darken($read-bg-color, 5%) 
      
    &.unread
      background: $unread-bg-color
      border-bottom: 1px solid $unread-border-color
      &:hover
        background: darken($unread-bg-color, 2%)
      
    &:last-child
      border-bottom: none 
    
