<template name="nav">
  <nav>
    {{> sidenav}}
    <div class="nav-wrapper blue darken-1 ">
      <a href="{{pathFor 'initiatives'}}" class="brand-logo center">Cherish</a>
      <ul class="left">
        <li><a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a></li>
      </ul>
    </div>
  </nav>
</template>

<template name="sidenav">
  <ul id="slide-out" class="side-nav">
    <li id="logo-container">
      <a id="logo" href="{{pathFor 'initiatives'}}">Cherish</a>
    </li>
    <li><a href="{{pathFor 'about'}}">About</a></li>
    {{#if currentUser }}
      <li><a href="{{pathFor 'profile'}}">My Profile</a></li>
      <li><a class="logout" href="#">Sign out</a></li>
    {{else}}
      <li><a href="{{pathFor 'login'}}">Sign in</a></li>
      <li><a href="{{pathFor 'signup'}}">Sign up</a></li>
    {{/if}}
  </ul>
</template>