body:not(.home)
  nav
    background: #1e88e5

#logo-container
  height: 56px
  border-bottom: 2px solid #1e88e5
  @media only screen and (min-width: 601px)
    height: 64px

#logo
  font-size: 25px
  color: #fff
  background-image: url('images/cherish-logo.png')
  background-size: 30px
  background-repeat: no-repeat
  background-position: left center
  padding-left: 2.5rem
  display: block
  width: 200px

nav
  background-color: transparent
  .nav-wrapper
    z-index: 1
  .side-nav
    li:first-child
      background-color: #1e88e5
    li:hover, li.active
      background-color: #1e88e5
      color: #FFF
  .user-profile
    img
      margin-right: 10px
      position: relative
      top: 10px
