<template name="notificationsDropdown">
  <li class="notifications">
    <ul id="notifications-dropdown" class="collection dropdown-content">
      {{#each notifications}}
      <li class="collection-item notification avatar {{getReadClass}}">
        <div class="notification-content">
          <img src="{{avatar}}" class="circle responsive-img" alt="" width="40" height="40">
          <span class="title">
            <b>{{users}}{{othersText}}</b> {{text}} <a href="{{pathFor 'initiative' slug=getInitiativeSlug}}">{{getInitiativeTitle}}</a>
          </span>
          <span class="notification-content--date"><i class="material-icons tiny">{{getNotificationsIcon}}</i> {{getPrettyDate createdAt}}</span>
        </div>
      </li>
      {{/each}}

      <li class="view-all"><a href="{{pathFor 'profile.notifications'}}">View all <i class="material-icons tiny">arrow_forward</i></a></li>
    </ul>
    <a class="dropdown-button" href="#" data-activates="notifications-dropdown">
      <i class="material-icons tiny center">{{#unless hasNotifications}}notifications_none{{else}}notifications{{/unless}}</i>
      {{#if hasNotifications}}<span class="dropdown-button--badge">{{getNotificationsCount}}</span>{{/if}}
    </a>
  </li>
</template>