<template name="notificationsModal">
  <div class="modal--notifications">
    <!-- Modal Structure -->
    <div id="modal_notifications" class="modal bottom-sheet modal-fixed-footer">
      <div class="modal-content">
        <h5>Notifications <button href="#" class="mark-all-read" {{getButtonState}}>Mark all as read</button></h5>
        <ul class="collection notifications">
          {{#each notifications}}
          <li class="collection-item notification-item avatar {{getReadClass}}">
            <div class="notification-item__content">
              <img src="{{avatar}}" class="avatar circle responsive-img" alt="" width="40" height="40">
              <span class="title">
                <b>{{users}}{{othersText}}</b> {{text}} <a href="{{pathFor 'initiative' slug=getInitiativeSlug}}">{{getInitiativeTitle}}</a>
              </span>
              <span class="date"><i class="material-icons tiny">{{getNotificationsIcon}}</i> {{getPrettyDate createdAt}}</span>
            </div>
            <a href="#" class="{{getReadClass}} secondary-content">
              {{#unless isRead}}
              <i class="material-icons">star</i>
              {{/unless}}
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect btn-flat">Close</a>
      </div>
    </div>
  </div>
</template>